.quizQuestion {
    margin: 10px !important;
    color: white !important;
}

Button {
    margin: 10px !important;
    background-color: white !important;
    color: #FD297B !important;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.MuiButton-contained {
    color: white !important;
}

.MuiButton-containedPrimary {
    background-color: #ff5194 !important;
}