.quizQuestion {
    margin: 10px !important;
    color: white !important;
}

Button {
    margin: 10px !important;
    background-color: white !important;
    color: #e314d2 !important;
}

.MuiButton-contained {
    color: white !important;
}

.MuiButton-containedPrimary {
    background-color: blue !important;
}