@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

:root {
  --primary: #FD297B;
  --primaryFade: #fd297a4d;
  --secondary: #ffffff;
  --onHover: #ff5194;
  --fontMain: 'Lily Script One', sans-serif;
}

* {
  box-sizing: border-box
}

html,
body {
  min-height: 100%;
}

main {
  margin: 0 auto;
  max-width: 100%;
}

.btn {
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  width: 200px;
  box-shadow: 4px 4px 4px #5f5c5c;
  scale: 1.5;
  text-shadow: 4px 4px 4px #30333c;
}

.btn:hover {
  background-color: var(--onHover) !important;
  color: var(--secondary) !important;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontMain);
  font-weight: 200;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #30333c;

}

p {
  font-family: var(--fontMain);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #30333c;

}

li {
  font-family: var(--fontMain);
  font-weight: lighter;
  text-shadow: 2px 2px 2px #30333c;
}

.mb-5 {
  text-shadow: 4px 4px 4px #30333c;
  font-size: 40px !important;
}

.subtitle {
  text-shadow: 4px 4px 4px #30333c;
  margin-bottom: 25px;
}

a {
  text-decoration: none !important;
}

.pageTitle {
  color: var(--secondary);
  font-size: 45px;
  margin: 50px;
  text-align: center;
  position: relative !important;
  background-color: var(--primary);
  padding: 6px;
  border-radius: 16px;
}

/* navbar styling css */
.navbar-brand {
  font-family: var(--fontMain);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-left: 80px;
}

.logo {
  width: 308px;
  margin-right: 54px;
}

.navbar, .fixed-top, .navbar-expand-lg, .navbar-light {
  background-color: var(--primary);
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end !important;
  margin-right: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3.5rem;
  font-family: var(--mainFont);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
}

.nav-item{
  margin: 30px;
  font-size: 24px;
}

.nav-item a {
  color: var(--secondary) !important;
}

/* navbar styling end */

/* hero section css */

#homeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.masthead {
  position: contain;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: var(--secondary);
  background: url("./images/HeroImage.jpg");
  background-size: cover;
  margin-top: 110px;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
  font-family: var(--fontMain);
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

.my-auto {
  background-color: var(--primaryFade);
  padding: 74px 0px 0px 0px !important;
  border-radius: 24px;
}

header.masthead .header-content h1 {
  font-size: 42px;
  color: var(--secondary);
}

#download {
  background-color: var(--primary) !important;
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  color: var(--secondary);
  font-size: 50px;
  margin-top: 0;
}

section.download p {
  color: var(--secondary);
}

section.download .badges .badge-link {
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

section.howItWork {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.howItworks {
  background-color: var(--primary) !important;
  color: var(--secondary);
  padding: 32px;
  border-radius: 24px;
}

#howItworks {
  min-height: fit-content;
}

.howItworks ol {
  text-align: left;
  padding: 0px 15% 50px;
  font-size: 1.6rem;
}

.howItworks li {
  padding: 5px;
}

.css-zf0iqh {
  min-height: 13vh !important;
}

.css-1a255yu {
  min-height: 0 !important;
}

.css-1uwgr7b-MuiTypography-root {
  color: var(--secondary) !important;
  font-family: var(--fontMain) !important;
}

.css-1da0jfs-MuiTypography-root {
  color: var(--secondary) !important;
  font-family: var(--fontMain) !important;
}

.contributors {
  background-color: #ffffff;
  margin-top:160px;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  text-align: center;
}

.contributorTitle{
  color:var(--primary) !important;
}

.contributor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor-item img {
  margin: 15px;
  border-radius: 80%;
  width: 80%;
  height: 80%;
  border: 6px solid var(--primary);
  box-shadow: 5px 5px 5px rgb(124, 123, 123);
}

.contributor-item h5 {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--fontMain);
  letter-spacing: 1px;
  text-shadow: none !important;
  color: var(--primary);

}

.socialIcons {
  display: flex;

}

.socialIcons .icon {
  color: #FD297B;
}

.socialIcons .icon:hover {
  color: var(--primaryFade);
  transform: scale(1.2);
}

/* css for quiz page */
h2 {
  color: var(--secondary) !important;
  text-align: center;
  font-size: 36px;
}

.quizInstructions {
  color: var(--secondary) !important;
  text-align: center;
}

.questionOne {
  padding: 0px 24px 16px 24px !important;
}

.questionOne h3 {
  margin-left: 10px;
  padding: 16px !important;
  color: var(--secondary) !important;
}

.nameField {
  margin-left: 26px !important;
  width: 75%;
  background-color: white;
  border-radius: 10px !important;
}

.nameField label {
  padding-left: 16px !important;
  color: #FD297B !important;
}

/* end css for quiz page */

.header {
  text-align: center;
  margin: 20px;
}

.google-login-btn {
  cursor: pointer;
  scale: 2.5;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--fontMain);

}


.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: calc(33.33% - 20px);
  max-width: 200px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: black !important;
  text-shadow: none;

}

.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-list li {
  margin-bottom: 4px;
  text-shadow: none;

}

.dashboard-h1 {
  text-align: center;
}

.dashboard h2 {
  color: black !important;
}

.LoginTwo-Page {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
}

.welcomeback {
  color: black !important;
  text-shadow: none;
}

.container {
  min-height: 75vh;
}

#appContainer {
  min-height: fit-content;
}

.lovequiz h3 {
  color: var(--secondary);
}

.quizimg {
  position: absolute;
  z-index: -1;
  margin-top: -16px;
  background-position: center;
  height: 1640px;
  width: 100%;
}

.css-lymgcl {
  background-color: rgba(253, 41, 123, 0.7);
  border-radius: 8px;
  margin-top: 128px !important;
  margin-bottom: 34px !important;
  padding: 12px !important;
}

.contributorimg {
  position: absolute;
  margin-top: -48px;
  background-position: center;
  height: 674px;
  width: 100%;
}

.loginbg {
  position: absolute;
  z-index: -1;
  margin-top: -16px;
  background-position: center;
  height: 560px;
  width: 100%;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
  background-color:#30333c00;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

Button {
  margin: 10px !important;
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
  border-radius: 5px;
  border: 1px solid lightgrey;
}