.links {

  background-color: #e314d2;

}

.links li {
  list-style-type: none;

}

.links a {
  color: #feffff;

}

.links a:hover {
  color: rgb(55, 39, 39);
  text-decoration: none;
}

.nav-item {
  margin: 30px;
}

.pageTitle {
  color: #000000;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}